*{
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url(images/Banner\ Image.png);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.377);
    background-size: cover;
    background-position: bottom center;
    width: 1320px;
    height: 600px;
}

.header{
    display:flex;
    justify-content:center;
    padding: 100px 51px;
}
.banner-text{
    padding-top: 177px;
}

.banner h4{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

/* banner styles end */

.offer-section{
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.our-holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.all-cate{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-img{
    display: flex;
    justify-content: center;
}

/* offer section styles end */
.container{
    background-image: url(images/Vectorrr.png);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.377);
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.wlc-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.wlc-text{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.wlc-wrapper{
    padding-top: 40px;
    display: flex;
    align-items: center;
}
.wlc-btn{
    color: #682424;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.right-photo img {
    width: 100%;
}
.left-content{
    margin-left: 40px;
}
/* welcome to midnight party style end */

.our-awesome-section{
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
.Portfolio{
    margin-top: 30px;
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Portfolio .item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.Portfolio .item img:hover {
    transform: scale(1.1);
}

.the-best{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.title-our{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.title-text-our{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* our awesome portfolio styles done */

.title-newsletter{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.title-p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.input-box{
    text-align: center;
    border-radius: 50px;

}
.text{
    color: rgba(7, 2, 17, 0.30);

   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
}
.end-btn{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}
.color-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin-bottom: 70px;
}

/* footer section */
#footer{
    width: 1600px;
    height: 609px;
    background: #070211;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a {
    margin: 220px 10px;
}
.social img {
    width: 50px;
    height: auto;
}
.right {
    text-align: left;
    color: white;
    padding-left: 20px;
}

.bio {
    text-align: right;
    color: white;
}